@import url(css/normalize.css);
@import url(font/stylesheet.css);
/**
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    contenteditable attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that are clearfixed.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */
/* line 11, ../scss/fuller_wk3.scss */
.cf:before,
.cf:after {
  content: " ";
  /* 1 */
  display: table;
  /* 2 */
}

/* line 16, ../scss/fuller_wk3.scss */
.cf:after {
  clear: both;
}

/**
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */
/* line 24, ../scss/fuller_wk3.scss */
.cf {
  *zoom: 1;
}

/* apply a natural box layout model to all elements */
/* line 28, ../scss/fuller_wk3.scss */
* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/* test 
$red: red;

h1 {color:$red;}
*/
/* line 58, ../scss/fuller_wk3.scss */
html {
  font-size: 100%;
  text-rendering: optimizeLegibility;
}

/* --------------------------------------------------*
/ Base Styles
/ ---------------------------------------------------*/
/* line 66, ../scss/fuller_wk3.scss */
body {
  font: normal 0.75rem/1.66667 open Sans, Lucida Sans, Lucida Grande, Lucida Sans Unicode, sans-serif;
  color: #787878;
  margin: 0;
  background-image: url(../images/galaxygreen2.jpg);
  background-color: #000;
  background-position-x: initial;
  background-position-y: initial;
  background-size: initial;
  background-repeat-x: initial;
  background-repeat-y: initial;
  background-attachment: fixed;
  background-origin: initial;
  background-clip: initial;
  background-color: initial;
  background-position: center;
}

/* line 86, ../scss/fuller_wk3.scss */
h1, h2, h3, h4, h5, h6 {
  font-family: "LeagueGothicRegular", open sans, Lucida Sans, Lucida Grande, Lucida Sans Unicode, sans-serif;
  color: #333333;
  text-transform: uppercase;
  font-weight: normal;
}

/* line 93, ../scss/fuller_wk3.scss */
a {
  color: #46a4d5;
  text-decoration: none;
  -webkit-transition: all .3s ease-out;
  -moz-transition: all .3s ease-out;
  -ms-transition: all .3s ease-out;
  -o-transition: all .3s ease-out;
  transition: all .3s ease-out;
}

/* line 102, ../scss/fuller_wk3.scss */
a:hover {
  color: #9bc800;
}

/* line 106, ../scss/fuller_wk3.scss */
img {
  max-width: 100%;
}

/* --------------------------------------------------*
/ Layout
/ ---------------------------------------------------*/
/*
/head & main nav ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
*/
/* line 120, ../scss/fuller_wk3.scss */
nav {
  border-top: 3px solid #9bc800;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.25);
  padding-bottom: 1em;
  z-index: 1000;
  width: 100%;
}
/* line 129, ../scss/fuller_wk3.scss */
nav ul {
  text-align: center;
  padding-top: 17px;
  margin-top: 30px;
  margin-left: -1.65rem;
  list-style: none outside;
}
/* line 136, ../scss/fuller_wk3.scss */
nav li {
  text-align: center;
  display: inline-block;
  margin-top: -30px;
}
/* line 141, ../scss/fuller_wk3.scss */
nav a {
  font-size: 1rem;
  font-weight: 400;
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
  padding: 0 15px 0 15px;
  text-shadow: 1px 1px 1px #515151;
}
/* line 150, ../scss/fuller_wk3.scss */
nav a:hover {
  color: #9bc800;
  text-shadow: 1px 1px 1px #212121;
}

/* line 157, ../scss/fuller_wk3.scss */
span.logo {
  display: inline-block;
  background: url(http://rodrigob.com/themes/fffolio/images/logo.png) no-repeat 0 0;
  width: 83px;
  height: 83px;
  margin-top: -10px;
  vertical-align: middle;
  position: relative;
}

/* line 167, ../scss/fuller_wk3.scss */
span.logotxt {
  font-family: 'Marck Script', cursive;
  color: #9bc800;
  font-weight: normal;
  font-size: 42px;
  text-transform: uppercase;
  text-shadow: none;
  filter: none;
  position: relative;
  padding-top: 10px;
  display: inline-block;
}

/* line 189, ../scss/fuller_wk3.scss */
header[role='banner'] {
  color: white;
  margin-bottom: 6em;
  text-align: center;
}
/* line 194, ../scss/fuller_wk3.scss */
header[role='banner'] p {
  text-transform: uppercase;
  font-size: 44px;
  font-size: 2.6rem;
  font-weight: 600;
  text-shadow: 1px 1px 2px #515151;
  filter: dropshadow(color=#515151, offx=1, offy=1);
  line-height: 1.4rem;
  padding: 0;
}
/* line 206, ../scss/fuller_wk3.scss */
header[role='banner'] h1 {
  color: white;
  position: relative;
  top: .76rem;
  text-transform: uppercase;
  text-shadow: 1px 1px 2px #515151;
  filter: dropshadow(color=#515151, offx=1, offy=1);
  font-size: 6.8rem;
  font-weight: 400;
  line-height: 1rem;
}
/* line 221, ../scss/fuller_wk3.scss */
header[role='banner'] .fancy {
  font-family: 'Marck Script', cursive;
  font-size: 3.9rem;
  font-weight: normal;
  text-shadow: 1px 1px 2px #515151;
  display: inline-block;
  text-transform: none;
  line-height: 0.2rem;
  margin-top: 60px;
}
/* line 230, ../scss/fuller_wk3.scss */
header[role='banner'] .fancy .lines {
  border-bottom: 1px dotted #bbb;
  display: inline-block;
  width: 160px;
  height: 2px;
  margin: 0 15px 0 15px;
  -webkit-box-shadow: 1px 1px 1px 1px #00000;
  box-shadow: 1px 1px 1px 1px #00000;
}
@media only screen and (max-width: 40em) {
  /* line 240, ../scss/fuller_wk3.scss */
  header[role='banner'] .fancy .fancy, header[role='banner'] .fancy .lines {
    display: none;
    visibility: hidden;
    text-indent: -3000px;
  }
}

@media only screen and (max-width: 40em) {
  /* line 253, ../scss/fuller_wk3.scss */
  header[role='banner'] {
    margin-bottom: 1em;
  }
  /* line 256, ../scss/fuller_wk3.scss */
  header[role='banner'] .fancy {
    display: none;
    visibility: hidden;
  }
  /* line 260, ../scss/fuller_wk3.scss */
  header[role='banner'] p {
    line-height: 1.25em;
    font-size: 2rem;
  }
  /* line 264, ../scss/fuller_wk3.scss */
  header[role='banner'] nav .logo {
    display: none;
  }
  /* line 267, ../scss/fuller_wk3.scss */
  header[role='banner'] nav li {
    margin-top: -1.2em;
  }
  /* line 270, ../scss/fuller_wk3.scss */
  header[role='banner'] nav ul {
    padding-top: 1.2em;
    margin-top: .65em;
  }
  /* line 274, ../scss/fuller_wk3.scss */
  header[role='banner'] nav a {
    padding: 0 8px 0 8px;
  }
  /* line 278, ../scss/fuller_wk3.scss */
  header[role='banner'] h1 {
    font-size: 5rem;
    line-height: .55rem;
  }

  /* line 284, ../scss/fuller_wk3.scss */
  html {
    font-size: 80%;
  }
}
/*
/sections ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
*/
/* line 293, ../scss/fuller_wk3.scss */
.jagged {
  /*top part*/
  background: url(../images/g.png) repeat-x;
  width: 100%;
  height: 29px;
  position: relative;
  z-index: 20;
  margin-top: 0px;
  margin-bottom: -1px;
  /*background-color:$highlight;*/
}

/* line 312, ../scss/fuller_wk3.scss */
.jagged_bottom {
  background: url(../images/gb.png) repeat-x;
  width: 100%;
  height: 29px;
  position: relative;
  z-index: 20;
  /*background-color:$highlight;*/
}

/* line 323, ../scss/fuller_wk3.scss */
.seperator {
  height: 60px;
}

/* line 326, ../scss/fuller_wk3.scss */
.whitewrap {
  background-color: white;
  margin-top: 0px;
  margin-bottom: 0px;
  width: 100%;
}

/* line 336, ../scss/fuller_wk3.scss */
section {
  margin: 0 auto;
  max-width: 960px;
  padding: 50px 10px;
  	/*.h1:after{
  		content: "";
  		width: 1000px;
  		height:5px;
  		border-bottom: 2px solid $highlight;
  
  
  	}
  
  	followingline{
  		border-bottom: 2px solid $highlight;
  		width:100%;
  		max-width: 940px;
  
  		display: inline-block;
  		height: 2px;
  	}*/
}
/* line 341, ../scss/fuller_wk3.scss */
section h1 {
  font-size: 3.5rem;
  border-bottom: 2px dotted #9bc800;
  margin: 0;
  padding: 0px 0px 25px 0px;
  line-height: 1rem;
  display: inline-block;
  width: 100%;
}
/* line 351, ../scss/fuller_wk3.scss */
section h2 {
  color: #9bc800;
  font-size: 1.4rem;
}
/* line 373, ../scss/fuller_wk3.scss */
section p, section h3 {
  font-size: .95rem;
}
/* line 376, ../scss/fuller_wk3.scss */
section ul {
  list-style: none;
  margin: 0px;
  padding: 0px;
  width: 100%;
}
/* line 383, ../scss/fuller_wk3.scss */
section li {
  display: inline-block;
  padding: 0px;
  margin: 0px;
}
/* line 387, ../scss/fuller_wk3.scss */
section li img {
  -webkit-transition-duration: 0.3s;
  -moz-transition-duration: 0.3s;
  -o-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: -webkit-box-shadow;
  -moz-transition-property: -moz-box-shadow;
  -o-transition-property: -o-box-shadow;
  transition-property: box-shadow;
}

/* line 402, ../scss/fuller_wk3.scss */
.mainportfolio {
  text-align: center;
}
/* line 404, ../scss/fuller_wk3.scss */
.mainportfolio li {
  margin: 20px 0px;
}
/* line 407, ../scss/fuller_wk3.scss */
.mainportfolio h3, .mainportfolio p {
  border-bottom: 1px dotted #9bc800;
  line-height: 2.5rem;
  margin: 0px;
  padding: 0px;
}
/* line 415, ../scss/fuller_wk3.scss */
.mainportfolio h3 {
  font-family: open sans, arial, helvetica, sans-serif;
  color: #9bc800 !important;
  font-weight: 400;
}

/* line 425, ../scss/fuller_wk3.scss */
.sliderwrap {
  border-top: 1px dotted #666565;
  border-bottom: 1px dotted #666565;
  padding-top: 10px;
  padding-bottom: 10px;
}

/* line 432, ../scss/fuller_wk3.scss */
.miniportfolio {
  /*background-color:rgb(227, 227, 227);*/
  position: relative;
  text-align: center;
  vertical-align: middle;
  margin-top: 3px;
}
/* line 439, ../scss/fuller_wk3.scss */
.miniportfolio li {
  padding: 0px;
  margin: 0px;
  position: relative;
  vertical-align: middle;
  text-align: center;
}
/* line 446, ../scss/fuller_wk3.scss */
.miniportfolio li a, .miniportfolio li img {
  border: 0px;
  margin: 0px;
  padding: 0px;
}

/*
/about ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
*/
/* line 465, ../scss/fuller_wk3.scss */
*[role='about'] h2 {
  border-bottom: 1px dotted #666565;
  color: #666565;
  font-size: 1.2rem;
}
/* line 472, ../scss/fuller_wk3.scss */
*[role='about'] h3 {
  color: #666565;
  font-family: open sans, arial, sans-serif;
  font-size: .7rem;
  line-height: .7rem;
  margin-top: 3px;
}

/* line 483, ../scss/fuller_wk3.scss */
.social {
  float: right;
  background-color: #9bc800;
  padding: 15px 15px 17px 30px;
  color: #fff;
  width: 20%;
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: 40px;
}
/* line 493, ../scss/fuller_wk3.scss */
.social ul {
  list-style-type: none;
}
/* line 497, ../scss/fuller_wk3.scss */
.social li {
  vertical-align: middle;
}
/* line 501, ../scss/fuller_wk3.scss */
.social a {
  color: white;
}
/* line 504, ../scss/fuller_wk3.scss */
.social a:hover {
  color: #333333;
}
/* line 508, ../scss/fuller_wk3.scss */
.social .twitter:before {
  content: url(http://rodrigob.com/themes/fffolio/images/icn_twitter_orange.png);
  position: relative;
  top: 5px;
  padding-right: 10px;
}
/* line 515, ../scss/fuller_wk3.scss */
.social .zerply:before {
  content: url(http://rodrigob.com/themes/fffolio/images/icn_zerply_orange.png);
  position: relative;
  top: 5px;
  padding-right: 10px;
}
/* line 521, ../scss/fuller_wk3.scss */
.social .facebook:before {
  content: url(http://rodrigob.com/themes/fffolio/images/icn_facebook_orange.png);
  position: relative;
  top: 5px;
  padding-right: 10px;
}
/* line 527, ../scss/fuller_wk3.scss */
.social .linkedin:before {
  content: url(http://rodrigob.com/themes/fffolio/images/icn_linkedin_orange.png);
  position: relative;
  top: 5px;
  padding-right: 10px;
}
/* line 533, ../scss/fuller_wk3.scss */
.social .pinterest:before {
  content: url(http://rodrigob.com/themes/fffolio/images/icn_pinterest_orange.png);
  position: relative;
  top: 5px;
  padding-right: 10px;
}
/* line 539, ../scss/fuller_wk3.scss */
.social .dribbble:before {
  content: url(http://rodrigob.com/themes/fffolio/images/icn_dribbble_orange.png);
  position: relative;
  top: 5px;
  padding-right: 10px;
}
/* line 545, ../scss/fuller_wk3.scss */
.social .gplus:before {
  content: url(http://rodrigob.com/themes/fffolio/images/icn_gplus_orange.png);
  position: relative;
  top: 5px;
  padding-right: 10px;
}

@media only screen and (max-width: 40em) {
  /* line 557, ../scss/fuller_wk3.scss */
  .social {
    float: left;
    display: inline;
    font-size: 1px;
    color: #9bc800;
    width: 99%;
    margin-left: 0px;
    padding: 5px 0px 15px 0px;
    text-align: center;
  }
  /* line 568, ../scss/fuller_wk3.scss */
  .social a {
    color: #9bc800;
    text-indent: 100%;
  }
  /* line 585, ../scss/fuller_wk3.scss */
  .social a:hover {
    color: #9bc800;
  }
}
/* line 590, ../scss/fuller_wk3.scss */
.skill {
  width: 100%;
  max-width: 940px;
  height: 22px;
  background: #ebebeb;
}

/* line 597, ../scss/fuller_wk3.scss */
.javascript {
  width: 20%;
  height: 22px;
  background: #9bc800;
  opacity: 0.6;
}

/* line 603, ../scss/fuller_wk3.scss */
.wordpress {
  width: 22%;
  height: 22px;
  background: #9bc800;
  opacity: 0.6;
}

/* line 609, ../scss/fuller_wk3.scss */
.photoshop {
  width: 95%;
  height: 22px;
  background: #9bc800;
  opacity: 0.6;
}

/* line 615, ../scss/fuller_wk3.scss */
.html {
  width: 60%;
  height: 22px;
  background: #9bc800;
  opacity: 0.6;
}

/*
/contact ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
*/
/* line 626, ../scss/fuller_wk3.scss */
.colorwrap {
  margin-top: -1px;
  margin-bottom: 0px;
  min-height: 500px;
  background: #9bc800;
  width: 100%;
}

/* line 635, ../scss/fuller_wk3.scss */
.colorjagged {
  /*top part*/
  background: url(../images/gg.png) repeat-x;
  width: 100%;
  height: 24px;
  position: relative;
  z-index: 0;
  margin-top: 0px;
  margin-bottom: 0px;
  /*background-color:$highlight;*/
}

/* line 645, ../scss/fuller_wk3.scss */
.colorjagged_bottom {
  background: url(../images/ggb.png) repeat-x;
  width: 100%;
  height: 24px;
  position: relative;
  z-index: 0;
}

/* line 655, ../scss/fuller_wk3.scss */
*[role='contact'] {
  margin-bottom: 0px;
  z-index: 1000;
}
/* line 660, ../scss/fuller_wk3.scss */
*[role='contact'] h1, *[role='contact'] h2, *[role='contact'] h3, *[role='contact'] h4, *[role='contact'] p, *[role='contact'] label {
  color: white;
}
/* line 664, ../scss/fuller_wk3.scss */
*[role='contact'] h1 {
  border-bottom: 2px dotted #fff;
}
/* line 668, ../scss/fuller_wk3.scss */
*[role='contact'] .mapinfo {
  float: right;
  width: 48%;
}
/* line 673, ../scss/fuller_wk3.scss */
*[role='contact'] .mapinfo .info {
  width: 45%;
  float: left;
}
/* line 678, ../scss/fuller_wk3.scss */
*[role='contact'] .mapinfo .info p {
  margin: 0;
  margin-bottom: -2px;
  line-height: 1.5rem;
}
/* line 683, ../scss/fuller_wk3.scss */
*[role='contact'] .mapinfo .info p img {
  margin-right: 10px;
}
/* line 691, ../scss/fuller_wk3.scss */
*[role='contact'] .map {
  border: 5px solid #d1d1d1;
  text-align: right;
  margin-top: 43px;
  width: 100%;
  height: 200px;
}
/* line 698, ../scss/fuller_wk3.scss */
*[role='contact'] .contact_form {
  float: left;
  width: 48%;
  color: #000;
  /*background-color:green; */
}
/* line 705, ../scss/fuller_wk3.scss */
*[role='contact'] .contact_form p {
  font-size: 13px;
  text-transform: uppercase;
  margin-bottom: 2px;
}
/* line 711, ../scss/fuller_wk3.scss */
*[role='contact'] .contact_form input, *[role='contact'] .contact_form textarea {
  background: url(http://subtlepatterns.com/patterns/grid.png) repeat;
  width: 100%;
  height: 30px;
  margin-bottom: 10px;
  padding-left: 4px;
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  font-size: 14px;
}
/* line 721, ../scss/fuller_wk3.scss */
*[role='contact'] .contact_form textarea {
  height: 99px;
}
/* line 724, ../scss/fuller_wk3.scss */
*[role='contact'] .contact_form .text {
  border: 0;
  padding: 6px 4px;
  outline: none;
  font: 13px "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #000;
  margin: 0;
  max-width: 100%;
  display: block;
}
/* line 735, ../scss/fuller_wk3.scss */
*[role='contact'] .contact_form .submit-button {
  background: #fff;
  background-image: url(http://subtlepatterns.com/patterns/grid.png) repeat;
  color: #9bc800;
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  text-transform: uppercase;
  font-style: normal;
  font-size: 12px;
  width: 60px;
  margin-top: 5px;
  padding: 1px;
  height: 25px;
  text-align: center;
  border: 0;
}

@media only screen and (max-width: 40em) {
  /* line 756, ../scss/fuller_wk3.scss */
  .contact_form {
    float: none;
    display: block;
    width: 90%;
  }

  /* line 764, ../scss/fuller_wk3.scss */
  .mapinfo {
    float: none;
    display: block;
    width: 100%;
  }

  /* line 774, ../scss/fuller_wk3.scss */
  .info {
    width: 100%;
    float: none;
    display: inline;
    margin-right: 3rem;
    margin-top: 1rem;
  }
}
/*
/footer ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
*/
/* line 790, ../scss/fuller_wk3.scss */
footer {
  padding-top: 20px;
  height: 100px;
  margin: 0 auto;
  text-align: center;
}
/* line 795, ../scss/fuller_wk3.scss */
footer p {
  color: #ffffff;
  display: inline-block;
}
